<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create event</title>
    <link rel="stylesheet" href="../static/styles/style_create_event.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script>
        function text(x) {
            if (x == 0) document.getElementById("offline-code").style.display = "block", document.getElementById("online-code").style.display = "none", document.getElementById("check-online").checked = false;
            else document.getElementById("offline-code").style.display = "none", document.getElementById("online-code").style.display = "block", document.getElementById("check-offline").checked = false;
            return;
        }
    </script>
</head>

<body>
    <section class="container">
        <header>Додавання події</header>
        <form action="" class="form" enctype="multipart/form-data" method="post">
            <div class="input-box">
                <label>Назва події</label>
                <input type="text" placeholder="Введіть назву" required name="title" />
            </div>
            <div class="input-box">
                <label>Пошта для зв'язку</label>
                <input type="email" placeholder="Введіть пошту для зв'язку" required name="email" />
            </div>
            <div class="input-box">
                <label>Опис події</label>
                <input type="text" placeholder="Введіть опис" required name="description" />
            </div>
            <div class="column">
                <div class="input-box">
                    <label>Дата події</label>
                    <input type="date" placeholder="Оберіть дату" required name="date" />
                </div>
                <div class="input-box">
                    <label>Час початку</label>
                    <input type="time" placeholder="Введіть час події" required name="time" />
                </div>
            </div>
            <div class="format-box">
                <h3>Місце проведення</h3>
                <div class="format-option">
                    <div class="format">
                        <input type="radio" id="check-offline" name="format_off" onclick="text(0)" checked />
                        <label for="check-offline">Оффлайн</label>
                    </div>
                    <div class="format">
                        <input type="radio" id="check-online" name="format_on" onclick="text(1)" />
                        <label for="check-online">Онлайн</label>
                    </div>
                </div>
            </div>
            <div class="input-box address" id="offline-code">
                <label>Адреса</label>
                <input type="text" placeholder="Місто" name="city" />
                <input type="text" placeholder="Вулиця, будинок" name="address" />
            </div>
            <div class="input-box link" id="online-code">
                <label>Посилання</label>
                <input type="text" placeholder="Вставте посилання на подію" name="link" />
            </div>

            <div class="small-container">
                <div class="select-btn">
                    <span class="btn-text">Оберіть теги</span>
                    <span class="arrow-dwn">
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </div>
                <div class="list-items">
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Допомога захисникам" id="1" name="tag1">
                        <label class="form-check-label" for="1">
                            Допомога захисникам
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Донорство крові" id="2" name="tag2">
                        <label class="form-check-label" for="2">
                            Донорство крові
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Правозахист" id="3" name="tag3">
                        <label class="form-check-label" for="3">
                            Правозахист
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Волонтерство у пробації" id="4"
                            name="tag4">
                        <label class="form-check-label" for="4">
                            Волонтерство у пробації
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Спорт" id="5" name="tag5">
                        <label class="form-check-label" for="5">
                            Спорт
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Освіта та наука" id="6" name="tag6">
                        <label class="form-check-label" for="6">
                            Освіта та наука
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Онлайн волонтерство" id="7" name="tag7">
                        <label class="form-check-label" for="7">
                            Онлайн волонтерство
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Волонтерство з ВПО" id="8" name="tag8">
                        <label class="form-check-label" for="8">
                            Волонтерство з ВПО
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Волонтерство на заходах" id="9"
                            name="tag9">
                        <label class="form-check-label" for="9">
                            Волонтерство на заходах
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Екологія та зоозахист" id="10"
                            name="tag10">
                        <label class="form-check-label" for="10">
                            Екологія та зоозахист
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Інтелектуальне волонтерство" id="11"
                            name="tag11">
                        <label class="form-check-label" for="11">
                            Інтелектуальне волонтерство
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Культура та мистецтво" id="12"
                            name="tag12">
                        <label class="form-check-label" for="12">
                            Культура та мистецтво
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Міжнародне волонтерство" id="13"
                            name="tag13">
                        <label class="form-check-label" for="13">
                            Міжнародне волонтерство
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Переклади та журналістика" id="14"
                            name="tag14">
                        <label class="form-check-label" for="14">
                            Переклади та журналістика
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Психологічна допомога"
                            id="flexCheckDefault" name="tag15">
                        <label class="form-check-label" for="flexCheckDefault">
                            Психологічна допомога
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Регулярне волонтерство" id="15"
                            name="tag16">
                        <label class="form-check-label" for="15">
                            Регулярне волонтерство
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Соціальна допомога" id="16" name="tag17">
                        <label class="form-check-label" for="16">
                            Соціальна допомога
                        </label>
                    </div>
                    <div class="form-check category">
                        <input class="form-check-input" type="checkbox" value="Розвиток міста" id="17" name="tag18">
                        <label class="form-check-label" for="17">
                            Розвиток міста
                        </label>
                    </div>
                </div>
            </div>

            <div class="photo-container">
                <div class="photo-wrapper">
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <div class="content">
                        <div class="icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="text">
                            Файл ще не обрано!
                        </div>
                    </div>
                    <div id="cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="file-name">
                        Ім'я файлу
                    </div>
                </div>
                <button onclick="defaultBtnActive()" id="custom-btn">Оберіть фото події</button>
                <input id="default-btn" type="file" hidden name="photo">
            </div>
            <button type="submit">Створити подію</button>
        </form>
    </section>
    <script>
        const wrapper = document.querySelector(".wrapper");
        const fileName = document.querySelector(".file-name");
        const defaultBtn = document.querySelector("#default-btn");
        const customBtn = document.querySelector("#custom-btn");
        const cancelBtn = document.querySelector("#cancel-btn i");
        const img = document.querySelector("img");
        let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
        function defaultBtnActive() {
            event.preventDefault();
            defaultBtn.click();
        }
        defaultBtn.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    const result = reader.result;
                    img.src = result;
                    wrapper.classList.add("active");
                }
                cancelBtn.addEventListener("click", function () {
                    img.src = "";
                    wrapper.classList.remove("active");
                })
                reader.readAsDataURL(file);
            }
            if (this.value) {
                let valueStore = this.value.match(regExp);
                fileName.textContent = valueStore;
            }
        });
    </script>
    <script src="../static/js/script.js"></script>
</body>

</html>