<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/styles/style_organization.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>signin-signup</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for message in messages %}
        {% if category == 'error' %}
        <div class = 'alert alert-danger alter-dismissable fade show' role = 'alert'>
            {{ message }}
            <button type = 'button' class = 'close' data-dismiss = 'alert'>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class = 'alert alert-success alter-dismissable fade show' role = 'alert'>
            {{ message }}
            <button type = 'button' class = 'close' data-dismiss = 'alert'>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="signin-signup">
            <form action="" class="sign-in-form" method="post">
                <h2 class="title">Вхід</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input name = 'mail-login' type="text" placeholder="Пошта">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input name = 'password-login' type="password" placeholder="Пароль">
                </div>
                <input type="submit" value="Увійти" class="btn">
                <p class="account-text">Не маєте акаунту? <a href="#" id="sign-up-btn2">Зареєструватися</a></p>
            </form>
            <form action="" class="sign-up-form" method="post">
                <h2 class="title">Реєстрація</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input name = 'name-register' type="text" placeholder="Ім'я користувача">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input name = 'mail-register' type="text" placeholder="Пошта">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input name = 'password-register' type="password" placeholder="Пароль">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input name = 'password-register-confirmation' type="password" placeholder="Пароль">
                </div>
                <div class="input-field">
                    <input name = 'logo' type="file" value="Логотип організації">
                </div>
                
                <div class="input-field">
                    <i class="fa fa-address-book"></i>
                    <input name = 'orgname' type="text" placeholder="Назва організації">
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input name = 'org-adress' type="text" placeholder="Адреса">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input name = 'socials' type="text" placeholder="Посилання на соц. мережі">
                </div>
                <input type="submit" value="Зареєструватися" id='sign-up-btn2' class="btn" onclick="">
                <!-- <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p> -->
            </form>
            <!-- <form action="" class="continue-form" id="continue-form" style="display: none;">
                <h2 class="title">Реєстрація</h2>
                <div class="input-field">
                    <input type="file" value="Organisation logo">
                </div>
                
                <div class="input-field">
                    <i class="fa fa-address-book"></i>
                    <input type="password" placeholder="Organisation name">
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Address">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Socials">
                </div>
            </form> -->
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <img src="../static/img/logo_dark.png" style="width: 100px;" class="image">
                    <h3>Уже маєте акаунт?</h3>
                    <p></p>
                    <button class="btn" id="sign-in-btn">Увійти</button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <img src="../static/img/logo_dark.png" style="width: 100px;" class="image">
                    <h3>Не маєте акаунту?</h3>
                    <p>Пориньте у світ волонтерства разом з Voluntree!</p>
                    <button class="btn" id="sign-up-btn">Зареєструватися</button>
                </div>
                
            </div>
        </div>
    </div>
    
    <script src="../static/js/script_organization.js">
        function myFun() {
            var Continue = document.getElementById("continue-form");
            var Signin = document.getElementById()
            if (custDiv.style.display === "none") {
            Continue.style.display = "block";
            Signin.style.display = "none";
            }

        }
    </script>
</body>
</html>