<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="../static/styles/style_user.css" />
</head>

<body>
    <div class="header__wrapper">
        <header></header>
        <div class="cols__container">
            <div class="left__col">
                <div class="img__container">
                    {% if is_org %}
                    <img src="{{ url_for('home.serve_uploads', filename=user.id|string + '.png') }}" alt="LOGO" />
                    {% else %}
                    <img src="{{ url_for('home.serve_uploads', filename='u' + user.id|string + '.png') }}" alt="LOGO" />
                    {% endif %}
                    <span></span>
                </div>
                <div class="user_info">
                    <h2>{{ user.name }}</h2>
                    {% if is_org %}
                    <p>Organizator</p>
                    {% else %}
                    <p>User</p>
                    {% endif %}
                    <p>{{ user.email }}</p>
                </div>
                {% if is_org %}
                <div class="content">
                    <p>
                        {{ user.description }}
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="right__col">
                <nav>
                    <ul>
                        <li><button onclick="Show1()">Мої події</button></li>
                        <li><button onclick="Show2()">Налаштування</button></li>
                    </ul>
                </nav>
                <div id="events-blok">
                    <div class="card-blok">

                        {% if is_org %}
                            {% with messages = get_flashed_messages(with_categories = True) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'error-event' %}
                                        <div id ="alert-error">
                                            <span class="closebtn" onclick="this.parentElement.style.display='none';" style="position: relative;">&times;</span>
                                            {{message}}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        <a class="add_event" href="/create_event">
                            <img src="../static/img/plus.png" alt="">
                            <div>
                                Додати подію
                            </div>
                        </a>
                        {% endif %}
                        <div class="cards">
                            {% for ev in events %}
                            {% set truncated_string = ev.description[:77] %}
                            {% set last_space_index = truncated_string.rfind(' ') %}
                            <a class="card-self" href="{{ url_for('event.event_page', eventname=ev.name) }}">
                                <img class="image-holder"
                                    src="{{ url_for('home.serve_uploads', filename='e' + ev.id|string + '.png') }}">
                                </img>
                                <div class="card-body">
                                    <div class="logos-row">
                                        <div class="date">
                                            <div class="date-img">
                                                <img src="../static/img/calendar.png" alt="smth">
                                            </div>
                                            <div class="card-text-date">
                                                {{ ev.date }}
                                            </div>
                                        </div>
                                        <div class="location">
                                            <div class="location-img">
                                                <img src="../static/img/location.png" alt="smth">
                                            </div>
                                            <div class="card-text-location">
                                                {{ ev.location }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="card-text">
                                            {% if truncated_string != ev.description %}
                                            {{ (truncated_string[:last_space_index] if last_space_index != -1 else
                                            truncated_string) ~ '...' }}
                                            {% else %}
                                            {{ truncated_string }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-small-text">{{ ev.organization[0] }}</div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="settings-blok">
                    <form class="change-info" method="post" enctype="multipart/form-data">
                        <div class="change-image">
                            <div class="photo-container">
                                <div class="photo-wrapper">
                                    <div class="image">
                                        {% if is_org %}
                                        <img id="new_img"
                                            src="{{ url_for('home.serve_uploads', filename=user.id|string + '.png') }}"
                                            alt="">
                                        {% else %}
                                        <img id="new_img"
                                            src="{{ url_for('home.serve_uploads', filename='u' + user.id|string + '.png') }}"
                                            alt="">
                                        {% endif %}
                                    </div>
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </div>
                                        <div class="text">
                                            Файл ще не обрано!
                                        </div>
                                    </div>
                                    <div id="cancel-btn">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="file-name">
                                        Ім'я файлу
                                    </div>
                                </div>
                                <button onclick="defaultBtnActive()" id="custom-btn">Оберіть нове фото</button>
                                <input id="default-btn" type="file" name="photo" hidden>
                            </div>
                        </div>
                        <div class="info-text">
                            <p class="change-title">Змінити інформацію</p>
                            <div action="#" class="form" method="post">
                                <div class="input-box">
                                    <label>Змінити ім'я</label>
                                    <input type="text" value="{{ user.name }}" name="name" required />
                                </div>
                                <!-- <div class="input-box">
                                    <label>Змінити пошту</label>
                                    <input type="email" value="{{ user.email }}" name="email"/>
                                </div> -->
                                <div class="input-box">
                                    <label>Пароль</label>
                                    <input type="password" name="current-password" value="" required />
                                </div>
                                <div class="input-box">
                                    <label>Новий пароль</label>
                                    <input type="password" name="new-password" />
                                </div>
                                <button class="change" type="submit">Змінити</button>
                            </div>
                        </div>
                    </form>
                    <div class="exit">
                        <a href='/logout' class="exit-profile">Вийти з аккаунту</a>
                        <a href='/delete_profile' class="delete-profile">Видалити аккаунт</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function Show1() {
                document.getElementById("events-blok").style.display = 'block';
                document.getElementById("settings-blok").style.display = 'none';
            }
            function Show2() {
                document.getElementById("settings-blok").style.display = 'block';
                document.getElementById("events-blok").style.display = 'none';
            }
            const wrapper = document.querySelector(".wrapper");
            const fileName = document.querySelector(".file-name");
            const defaultBtn = document.querySelector("#default-btn");
            const customBtn = document.querySelector("#custom-btn");
            const cancelBtn = document.querySelector("#cancel-btn i");
            const img = document.getElementById("new_img");
            let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
            function defaultBtnActive() {
                event.preventDefault();
                defaultBtn.click();
            }
            defaultBtn.addEventListener("change", function () {
                const file = this.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function () {
                        const result = reader.result;
                        img.src = result;
                        wrapper.classList.add("active");
                    }
                    cancelBtn.addEventListener("click", function () {
                        img.src = "";
                        wrapper.classList.remove("active");
                    })
                    reader.readAsDataURL(file);
                }
                if (this.value) {
                    let valueStore = this.value.match(regExp);
                    fileName.textContent = valueStore;
                }
            });
        </script>
</body>

</html>