<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Profile page</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap">
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
         />
      <link rel="stylesheet" href="../static/styles/style_user.css" />
   </head>
   <body>
      <div class="header__wrapper">
         <header></header>
         <div class="cols__container">
            <div class="left__col">
               <div class="img__container">
                  <img src="../static/img/Lida.jpg" alt="Lida Semsichko" />
                  <span></span>
               </div>
               <div class="user_info">
                  <h2>Lida Semsichko</h2>
                  <p>Organizator</p>
                  <p>lsemsichko@gmail.com</p>
               </div>
               <div class="content">
                  <p>
                     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
                     erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
                     ligula egestas nulla.
                  </p>
               </div>
            </div>
            <div class="right__col">
               <nav>
                  <ul>
                     <li><button onclick="Show1()">Мої події</button></li>
                     <li><button onclick="Show2()">Налаштування</button></li>
                  </ul>
               </nav>
               <div id="events-blok">
                  <div class="card-blok">
                     <button class="add_event"><img src="../static/img/plus.png" alt="">Додати подію</button>
                     <div class="cards">
                        <div class="card-self">
                           <div class="image-holder">
                           </div>
                           <div class="card-body">
                              <div class="logos-row">
                                 <div class="date">
                                    <div class="date-img">
                                       <img src="../static/img/calendar.png" alt="smth">
                                    </div>
                                    <div class="card-text-date">
                                       14-18 February 2025
                                    </div>
                                 </div>
                                 <div class="location">
                                    <div class="location-img">
                                       <img src="../static/img/location.png" alt="smth">
                                    </div>
                                    <div class="card-text-location">
                                       Дистанційно
                                    </div>
                                 </div>
                              </div>
                              <div class="card-content">
                                 <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus esse, vel
                                    distinctio iure quod sequi!
                                 </p>
                              </div>
                              <div class="card-small-text">Назва організації</div>
                           </div>
                        </div>
                     </div>
                     <div class="cards">
                        <div class="card-self">
                           <div class="image-holder">
                           </div>
                           <div class="card-body">
                              <div class="logos-row">
                                 <div class="date">
                                    <div class="date-img">
                                       <img src="../static/img/calendar.png" alt="smth">
                                    </div>
                                    <div class="card-text-date">
                                       14-18 February 2025
                                    </div>
                                 </div>
                                 <div class="location">
                                    <div class="location-img">
                                       <img src="../static/img/location.png" alt="smth">
                                    </div>
                                    <div class="card-text-location">
                                       Дистанційно
                                    </div>
                                 </div>
                              </div>
                              <div class="card-content">
                                 <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus esse, vel
                                    distinctio iure quod sequi!
                                 </p>
                              </div>
                              <div class="card-small-text">Назва організації</div>
                           </div>
                        </div>
                     </div>
                     <div class="cards">
                        <div class="card-self">
                           <div class="image-holder">
                           </div>
                           <div class="card-body">
                              <div class="logos-row">
                                 <div class="date">
                                    <div class="date-img">
                                       <img src="../static/img/calendar.png" alt="smth">
                                    </div>
                                    <div class="card-text-date">
                                       14-18 February 2025
                                    </div>
                                 </div>
                                 <div class="location">
                                    <div class="location-img">
                                       <img src="../static/img/location.png" alt="smth">
                                    </div>
                                    <div class="card-text-location">
                                       Дистанційно
                                    </div>
                                 </div>
                              </div>
                              <div class="card-content">
                                 <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus esse, vel
                                    distinctio iure quod sequi!
                                 </p>
                              </div>
                              <div class="card-small-text">Назва організації</div>
                           </div>
                        </div>
                     </div>
                     <div class="cards">
                        <div class="card-self">
                           <div class="image-holder">
                           </div>
                           <div class="card-body">
                              <div class="logos-row">
                                 <div class="date">
                                    <div class="date-img">
                                       <img src="../static/img/calendar.png" alt="smth">
                                    </div>
                                    <div class="card-text-date">
                                       14-18 February 2025
                                    </div>
                                 </div>
                                 <div class="location">
                                    <div class="location-img">
                                       <img src="../static/img/location.png" alt="smth">
                                    </div>
                                    <div class="card-text-location">
                                       Дистанційно
                                    </div>
                                 </div>
                              </div>
                              <div class="card-content">
                                 <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus esse, vel
                                    distinctio iure quod sequi!
                                 </p>
                              </div>
                              <div class="card-small-text">Назва організації</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div id="settings-blok">
                    <div class="change-info">
                        <div class="change-image">
                            <div class="photo-container">
                                <div class="photo-wrapper">
                                <div class="image">
                                    <img id = "new_img" src="" alt="">
                                </div>
                                <div class="content">
                                    <div class="icon">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                    </div>
                                    <div class="text">
                                        Файл ще не обрано!
                                    </div>
                                </div>
                                <div id="cancel-btn">
                                    <i class="fas fa-times"></i>
                                </div>
                                <div class="file-name">
                                    Ім'я файлу
                                </div>
                                </div>
                                <button onclick="defaultBtnActive()" id="custom-btn">Оберіть нове фото</button>
                                <input id="default-btn" type="file" hidden>
                            </div>
                        </div>
                        <div class="info-text">
                           <p class="change-title">Змінити інформацію</p>
                           <form action="#" class="form">
                              <div class="input-box">
                                <label>Змінити ім'я</label>
                                <input type="text" placeholder="Lida Semsichko" />
                              </div>
                              <div class="input-box">
                                  <label>Змінити пошту</label>
                                  <input type="email" placeholder="lsems@gmail.com" />
                                </div>
                                <div class="input-box">
                                 <label>Змінити пароль</label>
                                 <input type="email" placeholder="************"/>
                               </div>
                                <button class="change">Змінити</button>
                              </form>
                        </div>
                     </div>
                     <div class="exit">
                        <a href = '' class="exit-profile">Вийти з аккаунту</a>
                        <a href = '' class="delete-profile">Видалити аккаунт</a>
                     </div>
                  </div>
         </div>
      </div>
      <script>
        function Show1(){
            document.getElementById("events-blok").style.display = 'block';
            document.getElementById("settings-blok").style.display = 'none';
        }
        function Show2(){
            document.getElementById("settings-blok").style.display = 'block';
            document.getElementById("events-blok").style.display = 'none';
        }
        const wrapper = document.querySelector(".wrapper");
        const fileName = document.querySelector(".file-name");
        const defaultBtn = document.querySelector("#default-btn");
        const customBtn = document.querySelector("#custom-btn");
        const cancelBtn = document.querySelector("#cancel-btn i");
        const img = document.getElementById("new_img");
        let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
        function defaultBtnActive(){
          defaultBtn.click();
        }
        defaultBtn.addEventListener("change", function(){
          const file = this.files[0];
          if(file){
            const reader = new FileReader();
            reader.onload = function(){
              const result = reader.result;
              img.src = result;
              wrapper.classList.add("active");
            }
            cancelBtn.addEventListener("click", function(){
              img.src = "";
              wrapper.classList.remove("active");
            })
            reader.readAsDataURL(file);
          }
          if(this.value){
            let valueStore = this.value.match(regExp);
            fileName.textContent = valueStore;
          }
        });
     </script>
   </body>
</html>