
body {
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 100%;
  background: url("../img/tree.jpg") 0 -130px / 100% auto no-repeat;
  min-height: calc(60px + 20vw);
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 22px;
  right: 11px;
  border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.header__wrapper .cols__container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #333;
}

.header__wrapper .cols__container .right__col .card-blok {
  display: flex;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.user_info{
    margin-bottom: 30px;
}
.cards{
    margin-bottom: 30px;
}


/* The alert message box */
#alert-error {
  color: #444;
  width: 100%;
  height: 50px;
  top: 0;
  border: 1px solid #2F3D46;
  border-radius: 50px;
  display: flex;
  /* display: inline-block !important; */
  align-items: center;
  background-color: #971b12fd; /* Red */
  color: rgba(255, 255, 255, 0.71);
  margin-bottom: 15px;
  z-index: 99 !important;
  width: 100%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

@media (max-width: 768px){
    .header__wrapper .cols__container .left__col .img__container {
        top: -80px;
        left: 50%;
      }
      .header__wrapper .cols__container .left__col .img__container img {
        width: 150px;
        height: 150px;
      }
      .header__wrapper .cols__container .left__col .img__container span {
        bottom: 10px;
      }
}

.card-blok{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
.card-self{
    display: flex;
    max-width: 550px;
    padding: 20px;
    border:1px #2F3D46 solid;
    border-radius: 20px;
    font-size: 14px;
    align-items: center;
}
.image-holder{
    background-color: rgb(120, 120, 120);
    width: 250px;
    height: 150px;
    margin-right: 30px;
    border-radius: 20px;
}

.card-body{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.logos-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.date{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-img img{
    width: 50px;
}
.location{
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.location-img img{
    width: 40px;
}
.card-text-date{
    padding-left: 10px;
}
.card-content{
    margin-bottom: 15px;
    font-weight: 700;
}
.card-small-text{
    font-size: 12px;
}
.events-blok{
    display: none;
}
.active{
    display: block;
}

#settings-blok{
    display: none;
}
ul{
    width: 100%;
}
li{
    width: 50%;
}
button{
    width: 100%;
    border: none;
    padding: 20px 50px;
    color: #333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    border-bottom: 1px #333 solid;
    cursor:pointer;
    transition: 0.2s;
    font-weight: 700;
    background-color: #fff;
    transition: 0.5s;
}
button:hover{
    background-color: #657b74;
    border-radius: 10px;
}


@media (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    .card-self{
        max-width: 480px;
    }
    .image-holder{
        height: 130px;
    }
    .date{
        flex: 0 1 45%;
    }
    .date-img img{
        width: 30px;
    }
    .location-img img{
        width: 20px;
    }
    .card-content{
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .card-small-text{
        font-size: 12px;
    }
    .change-info{
      flex-direction: column;
      align-items: center;
    }
    form{
      width: 100%;
      margin: 0;
      padding: 0;
    }
}

@media (max-width: 545px) {
    .card-self{
        max-width: 250px;
        flex-direction: column;
        justify-content: center;
    }
    .card-body{
        padding-right: 0;
    }
    .image-holder{
        width: 90%;
        height: 150px;
        align-self: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .date{
        flex: 0 1 45%;
        font-size: 12px;
    }
    .date-img img{
        width: 30px;
    }
    .location-img img{
        width: 20px;
    }
    .card-content{
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .card-small-text{
        font-size: 12px;
    }
    .filter{
        background-color: rgb(81,121,112);
        padding: 20px;
        border-radius: 50px;
        width: 300px;
      }

}

.add_event{
    margin: 20px 0;
    background-color:rgba(81, 121, 112, 0.8);
    width: 300px;
    border: none;
    color: #333;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.2s;
    border:2px solid rgba(81, 121, 112, 0.8);
}
.add_event img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.add_event:hover{
    margin: 20px 0;
    border:2px solid #333;
    background-color:  rgba(153, 182, 167, 0.8);
}


.photo-container{
    height: 150px;
    width: 200px;
    position: relative;
    align-self: center;
    margin: 30px auto 80px auto;
  
  }
  .photo-container .photo-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .photo-wrapper.active{
    border: none;
  }
  .photo-wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  .photo-wrapper .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #9658fe;
    margin-bottom: 10px;
  }
  .photo-wrapper .text{
    font-size: 18px;
    font-weight: 500;
    color: #5B5B7B;
  }
  .photo-wrapper #cancel-btn i{
    position: absolute;  /*container*/
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
  }
  .photo-wrapper.active:hover #cancel-btn i{
    display: block;
  }
  .photo-wrapper #cancel-btn i:hover{
    color: #e74c3c;
  }
  .photo-wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }
  .photo-wrapper.active:hover .file-name{
    display: block;
  }
  .photo-photo-container #custom-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }
  #custom-btn{
      height: 35px;
      width: 100%;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 30px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      background: #1b4a4f;
      border-radius: 10px;
  }

  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #5d5d5d;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .form :where(input, label) {
    cursor: pointer;
  }
  label {
    color: #5d5d5d;
  }

  .change-info{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.change-image{
  flex: 0 1 30%;
}
.text-info{
  flex: 0 1 60%;
}
.change-title{
  font-size: 20px;
  margin-bottom: 25px;
}
.change{
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #1b4a4f;
  border-radius: 10px;
}
form{
  padding: 0px 10px;
}


.exit{
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 50px;
}
.exit-profile{
  padding: 20px 10px 20px 40px;
  font-weight: 700;
  color: #333;
  background: url('../img/exit.png') 10px 50%/ 20px auto no-repeat;
  border: 2px #fff solid;
  transition: 0.2s;
  margin-right: 60px;
}
.exit-profile:hover{
  border: 2px #333 solid;
}

.delete-profile{
  padding: 20px 10px 20px 40px;
  font-weight: 700;
  color: red;
  background: url('../img/delete.png') 10px 50%/ 20px auto no-repeat;
  border: 2px #fff solid;
  transition: 0.2s;
  margin-right: 60px;
}
.delete-profile:hover{
  border: 2px red solid;
}

@media (max-width: 1170px) {
  .change-title{
    text-align: center;
    padding-left: 30px;
  }
  form{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 80%;
    outline: none;
    font-size: 1rem;
    color: #5d5d5d;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
}

@media (max-width: 860px) {
  #settings-blok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .input-box{
    text-align: center;
  }
  .change{
    margin-top: 20px;
    padding: 0;
  }
  .form{
    margin: 0;
    padding: 0;

  }
  .change-title{
    margin: 0;
    margin-top: 50px;
    padding: 0;
  }
  .exit{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 0;
    justify-content: center;
  }
  .exit-profile{
    padding: 20px 10px 20px 40px;
    font-weight: 700;
    color: #333;
    background: url('../img/exit.png') 10px 50%/ 20px auto no-repeat;
    border: 2px #fff solid;
    transition: 0.2s;
    margin-right: 60px;

  }
  .exit-profile:hover{
    border: 2px #333 solid;
  }
  
  .delete-profile{
    padding: 20px 10px 20px 40px;
    font-weight: 700;
    color: red;
    background: url('../img/delete.png') 10px 50%/ 20px auto no-repeat;
    border: 2px #fff solid;
    transition: 0.2s;
    margin: 0;
  }
}


@media (max-width: 860px) {
  .exit{
    flex-direction: column;
  }
  .exit-profile{
    margin-right: 0px;

  }
}
