.card-self{
    display: flex;
    max-width: 550px;
    padding: 20px;
    border:1px #2F3D46 solid;
    border-radius: 20px;
    font-size: 14px;
    align-items: center;
}
.image-holder{
    background-color: rgb(120, 120, 120);
    width: 250px;
    height: 150px;
    margin-right: 30px;
    border-radius: 20px;
}

.card-body{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.logos-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.date{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-img img{
    width: 50px;
}
.location{
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.location-img img{
    width: 40px;
}
.card-text-date{
    padding-left: 10px;
}
.card-content{
    margin-bottom: 15px;
    font-weight: 700;
}
.card-small-text{
    font-size: 12px;
}

@media (max-width: 1023px) {
    .card-body{
        padding-right: 10px;
    }
    .card-self{
        max-width: 450px;
    }
    .image-holder{
        width: 230px;
        height: 120px;
    }
    .date-img img{
        width: 40px;
    }
    .location-img img{
        width: 30px;
    }
    .date{
        flex: 0 1 60%;
    }
    .card-content{
        font-size: 12px;
    }
}

@media (max-width: 1000px) {

    .card-self{
        max-width: 750px;
    }
    .image-holder{
        height: 180px;
    }
    .date{
        flex: 0 1 45%;
    }
    .date-img img{
        width: 60px;
    }
    .location-img img{
        width: 40px;
    }
    .card-content{
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .card-small-text{
        font-size: 14px;
    }
    .filter{
        background-color: rgb(81,121,112);
        padding: 20px;
        border-radius: 50px;
        width: 500px;
      }
}

@media (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    .card-self{
        max-width: 500px;
    }
    .image-holder{
        height: 130px;
    }
    .date{
        flex: 0 1 45%;
    }
    .date-img img{
        width: 30px;
    }
    .location-img img{
        width: 20px;
    }
    .card-content{
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .card-small-text{
        font-size: 12px;
    }
}

@media (max-width: 545px) {
    .card-self{
        max-width: 300px;
        flex-direction: column;
        justify-content: center;
    }
    .card-body{
        padding-right: 0;
    }
    .image-holder{
        width: 90%;
        height: 150px;
        align-self: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .date{
        flex: 0 1 45%;
        font-size: 12px;
    }
    .date-img img{
        width: 30px;
    }
    .location-img img{
        width: 20px;
    }
    .card-content{
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .card-small-text{
        font-size: 12px;
    }
    .filter{
        background-color: rgb(81,121,112);
        padding: 20px;
        border-radius: 50px;
        width: 300px;
      }
}